<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shopping.mapper.PaymentImageMapper">


    <resultMap id="PaymentImageMap" type="com.example.shopping.pojo.PaymentImage">
        <result property="image" column="image"/>
        <result property="uuid" column="uuid"/>
    </resultMap>



    <select id="selectByUUID" resultMap="PaymentImageMap">
        select * from payment_image where uuid = #{uuid};
    </select>

</mapper>
